<!DOCTYPE html>
<html lang="en">


    <head>

      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Login</title>


      <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">


        <!-- Optional theme -->
	       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    </head>

      <body>

        <div class="container">
          <div class="row">
			<div class="col-md-6 col-md-offset-3 center">

        <form class="input-control" method="post">
                <h2 class="form-signin-heading">Log in</h2>

                <input type="text" name="user" placeholder="Username" class="form-control">
                <br>

                <input type="password" name="pass" placeholder="Password" class="form-control">
                <br>

              <input type="submit" name="name" value="Log in" class="btn btn-success">

              {% if error %}
                <br>
                  <p class="text-danger">

                    {{error}}
                  </p>

              {% endif %}


        </form>

      </div>
      </div>
      </div>


        <!-- Latest compiled and minified JavaScript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
        integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ=="
        crossorigin="anonymous"></script>

      </body>

</html>
